[run]
omit =
    */migrations/*
    */tests/*
    *__init__.py
    */ASACBackEnd/migrations/*
    */Accounts/migrations/*
    */Contracts/migrations/*
    */Forums/migrations/*
    */Notifications/migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
